.Content {
    max-width: 400px;
    text-align: center;
    margin: 25vh auto;
}

.Content img {
    max-width: 160px;
}

body {
    background: #fff;
    font-family: "Helvetica", "Arial";
}

h1 {
    font-size: 4rem;
    margin: 0.5rem;
}

h2 {
    font-size: 3rem;
    margin: 0.5rem;
}
